* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
}

form {
  display: flex;
  flex-flow: column wrap;
  height: auto;
  max-width: 450px;
  min-width: 300px;
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 0px 1px 10px -5px;
  background-color: rgb(255, 255, 255);
}

form > div{
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

label {
  display: flex;
  flex-flow: column wrap;
  flex: 1;
  margin-bottom: 10px;
}

label > span {
  padding-bottom: 1px;
}

label > input {
  height: 30px;
  padding: 0px 10px;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 5px;
  color: rgb(125, 125, 125);
  background-color: rgb(235, 235, 235);
}
label > input:focus {
  outline: none;
  background-color: rgb(240, 240, 240);
}
