* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
}

form {
  display: flex;
  flex-flow: column wrap;
  height: auto;
  width: 400px;
  padding: 20px 40px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 20px;
  box-shadow: 0px 0px 10px -6px;
  background-color: rgb(240, 240, 240);
}

label {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 10px;
}

label > span {
  padding-bottom: 0px;
}

label > input {
  height: 24px;
  border: 1px solid rgb(137, 137, 137);
  border-radius: 5px;
}

